@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #04B0C6;
  --color-secondary: #0A2463;
  
  --font-optician: 'Optician-Sans', sans-serif;
}

@font-face {
  font-family: 'Optician-Sans';
  src: url('/fonts/Optician-Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

